---
layout: default
---
<link rel="stylesheet" href="/assets/css/style.css">
{% assign experiences = site.data.resume.work %}
{% assign educations = site.data.resume.education %}
<article class="post">

  <img class="avatar" src="{{ site.baseurl }}/assets/images/avatar.jpg" alt="profile picture" />

  <header class="post-header">
    <h1 class="post-title">{{ site.data.resume.basics.name }}</h1>
  </header>

  <div class="post-content">
    {{ site.data.resume.basics.label }}
  </div>


  {% if experiences %}
  <section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>Experience</h2>
    <ul>
    {% for work in experiences %}
      <li>{{ work.position }}
        <ul>
          <li>{{ work.company }}</li>
          <li>From {{ work.startDate | date: "%Y-%m" }} to
            {% if work.endDate %}{{ work.endDate | date: "%Y-%m" }}
            {% else %}Present
            {% endif %}
          </li>
              {% if work.details %}
    <div class="details">
      {{ work.details | markdownify }}
    </div><!--//details-->
    {% endif %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% if educations %}
  <section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>Education</h2>
    <ul>
    {% for education in educations %}
      <li>{{ education.studyType }}, {{ education.area }}
        <ul>
          <li>{{ education.institution }}</li>
          <li>{{ education.endDate }}</li>
          {% if education.details %}
          <div class="details">
            {{ education.details | markdownify }}
          </div><!--//details-->
          {% endif %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </section>
  {% endif %}

  <section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-certificate fa-stack-1x fa-inverse"></i>
    </span>Certifications</h2>
    <ul>
    {% for certification in site.data.resume.certification %}
      <li>{{ certification.name }}
        <ul>
          <li>{{ certification.fromDate }}</li>
<!--          <li>Licence: {{ certification.license_number }}</li>-->
<!--          <li><a href="{{ certification.url }}">Certificate</a></li>-->
          <li>Certificate: <a href="{{ certification.url }}">{{ certification.license_number }}</a></li>
        </ul>
      </li>
    {% endfor %}
    </ul>
  </section>

</article>
